Box sizing rules *,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* --------------- Style the page --------------------------------- */

body {
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	background: url(img/background.jpeg);
	text-align: center;
	color: #ffffff;
}

.rules a {
	text-decoration: none;
	color: #000;
	letter-spacing: 3px;
	transition-duration: 0.3s;
}

.rules a:hover {
	letter-spacing: 5px;
	transform: translateY(10px);
}

#banner img {
	width: 50%;
	margin: 10px auto 10px;
}

.main {
	width: 30%;
	margin: 30px auto 10px;
	padding: 1% 2% 1% 2%;
	background: #fccb06;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#bannerAnounce {
	font-size: 1rem;
	border: none;
	border-radius: 10px 10px 0 0;
	width: 47%;
	color: #000;
	background: #ffffff;
	padding: 5px;
	margin: 5px auto;
	transition-duration: 0.5s;
}

#buttonReset {
	font-size: 1.2rem;
	border: none;
	border-radius: 0 0 10px 10px;
	width: 50%;
	color: #ffffff;
	background: #000;
	padding: 5px;
	transition-duration: 0.3s;
}

#buttonReset:hover {
	background: #ffffff;
	color: #000;
}

.score {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	margin: 30px auto;
}

.score-one {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 10px;
	color: #000;
}

.individualScore {
	background: #ffffff;
	color: #000;
	border-radius: 10px 10px 0 0;
}

#result {
	margin: 40px 0 70px 0;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background: #ffffff;
	border-radius: 10px;
	color: #000;
	padding: 3%;
}

.weapons {
	margin: 30px auto;
}

.weapons button {
	font-size: 1.3rem;
	color: #1d63ff;
	background: linear-gradient(145deg, #cacaca, #f0f0f0);
	box-shadow: 3px 3px 10px #bebebe, -3px -3px 10px #ffffff;
	border: none;
	transition-duration: 0.3s;
}

.weapons button:hover {
	color: #000;
	opacity: 95%;
	box-shadow: inset 5px 5px 20px #bebebe, inset -5px -5px 20px #ffffff;
	transform: scale(0.98);
}

#rock {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin-right: 5%;
}
#paper {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

#scissors {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin-left: 5%;
}

.footer {
	color: #000;
	margin: auto;
	text-align: center;
	margin-top: 35%;
	letter-spacing: 3px;
	transition-duration: 0.3s;
	text-decoration: none;
}

.footer:hover {
	letter-spacing: 5px;
}

.game-done {
	opacity: 80%;
}

/* ---------- Use a media query to add a breakpoint at 1200px ----------- */
@media screen and (max-width: 1200px) {
	.main {
		width: 35%;
	}
	#result {
		font-size: 1rem;
		margin: 10px 0 70px 0;
		border-radius: 80px;
		padding: 1%;
	}
	.weapons {
		margin: 30px auto;
		display: inline-grid;
	}
	#rock {
		width: 120px;
		height: 50px;
		border-radius: 20%;
		margin-right: 2%;
	}
	#paper {
		width: 120px;
		height: 50px;
		border-radius: 20%;
	}

	#scissors {
		width: 120px;
		height: 50px;
		border-radius: 20%;
		margin-left: 2%;
	}
	.weapons button {
		font-size: 1.3rem;
		color: #1d63ff;
		background: linear-gradient(145deg, #cacaca, #f0f0f0);
		box-shadow: 3px 3px 10px #bebebe, -3px -3px 10px #ffffff;
		border: none;
		transition-duration: 0.3s;
		margin: 5%;
		border-radius: 10%;
	}

	.weapons button:hover {
		color: #000;
		opacity: 95%;
		box-shadow: inset 5px 5px 20px #bebebe, inset -5px -5px 20px #ffffff;
		transform: scale(0.9);
	}

	#result {
		margin: 30px 0 30px 0;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		background: #ffffff;
		border-radius: 10px;
		color: #000;
		padding: 3%;
	}
}

/* ---------- Use a media query to add a breakpoint at 800px ----------- */
@media screen and (max-width: 800px) {
	.main {
		width: 50%;
		margin: 30px auto 10px;
		padding: 1% 2% 1% 2%;
	}
}

/* ---------- Use a media query to add a breakpoint at 600px ----------- */
@media screen and (max-width: 600px) {
	.main {
		width: 70%;
		margin: 30px auto 10px;
		padding: 1% 2% 1% 2%;
	}
}
/* ---------- Use a media query to add a breakpoint at 415px ----------- */
@media screen and (max-width: 415px) {
	body {
		background: #fccb06;
	}
	.main {
		width: 100%;
		box-shadow: none;
		/* margin: 10px auto; */
		/* padding: 1% 2% 1% 2%; */
	}
	#banner{
		margin-bottom: 60px;
	}
	#result {
		width: 70%;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 60px;
	}
	.score {
		margin: 60px;
	}
	#rock {
		height: 70px;
	}
	#paper {
		height: 70px;
	}
	#scissors {
		height: 70px;
	}
	.weapons button:hover {
		color: #000;
		opacity: 95%;
		box-shadow: none;
	}
	.footer {
		display: none;
	}
}
